<div class="comments">
    {{#each this}}
    <section class="comment">
        <div class="card">
            <p class="bg-light">{{user.username}} on {{format_date created_at}}</p>
        
        <div class="text">
            {{comment_text}}
        </div>
        </div>
    </section>
    {{/each}}
</div>