<section>
    <h2>Create New Post</h2>

    <form class="new-post-form">
        <div>
            <label for="post-title">Title:</label>
            <input class="text-box-class" type="text" id="post-title" name="post-title" />
        </div>
        <div>
            <label for="content">Text:</label>
            <textarea class="text-box-class" id="content" name="content"/></textarea>
        </div>
        <button class="btn btn-secondary btn-sm" type="submit">Create!</button>
    </form>
</section>

{{#if posts.length}}
<section>
    <h2>Your Posts</h2>
    <ol>
        {{#each posts as |post|}}
        <li class="list-group-item">
            {{> post-info post}}
            <a class = "btn btn-secondary btn-sm" href="/dashboard/edit/{{post.id}}" role="button" class="edit-link">Edit Post</a>
            
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>