
    <ol>
        {{#each blogPosts}}
        <li>
            <article>
                <div>
                    <h1>{{title}}</h1>
                    <p>{{content}}</p>
                </div>
            </article>
        </li>
        {{/each}}
    </ol>
